.generateButton {
  width: 20rem;
  height: 3rem;
  font-size: 20px;
  font-weight: bold;
  color: orange;
  background-color: black;
  border-radius: 7px;
  margin-top: 10px;
}

.MSelector {
  padding: 0 4rem;
  text-align: center;
}

.materiaForm {
  margin: 5px;
}

.modaldiv {
  background-color: antiquewhite;
  width: 40rem;
  height: 6rem;
  border-radius: 10px;
  text-align: center;
  padding: 3rem;
}

.modalBack {
  width: 20rem;
  height: 3rem;
  font-size: 20px;
  font-weight: bold;
  color: orange;
  background-color: black;
  border-radius: 7px;
}
